.padre{
    height: 1300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */

    justify-content: flex-end;
    /* flex-start | center | flex-end | space-between | space-around | space-evenly */
}

.padre img{
    width: 200px;
    height: 200px;
}

.hijoRebelde{
    order: -1;
}

.hijoRebelde2{
    order: 3
}